[submodule "Frameworks/MILibs"]
	path = Frameworks/MILibs
	url = https://github.com/x3ro/MILibs.git
[submodule "irssi"]
	path = irssi
	url = https://github.com/x3ro/irrsi.git
[submodule "Frameworks/chromium-tabs"]
	path = Frameworks/chromium-tabs
	url = https://github.com/rsms/chromium-tabs.git
